@media only screen and (max-width: 767px) {
  .navbar {
    display: none;
  }

  .imgContainer img {
    top: 0%;
    max-width: 105%;
  }
  .imgContainer .overlay {
    top: 0%;
    max-width: 105%;
  }

  .imgContainer .heading-text,
  .follower-count {
    top: 286px;
    left: 16.85px;
  }
  .imgContainer .follower-count {
    top: 337px;
    left: 16.85px;
  }
  .wNav {
    display: none;
  }
  .mNav {
    display: block;
  }
  .write-post-container {
    left: 70%;
    top: 470px;
  }
  .menu-item {
    font-weight: 600;
  }
  .category-menu {
    left: 30px;
    top: 470px;
  }
  .custom-container {
    max-width: 99%;
    top: 550px;
    left: 0px;
  }
  .custom-views {
    left: 70%;
  }

  .custom-view-background {
    left: 90%;
    background-color: rgb(255, 255, 255);
  }

  .custom-share-container {
    left: 90%;
  }

  .custom-info-bar {
    width: inherit;
  }
  .joinNav {
    left: 80%;
  }
}
